<html>
  <head>
    <style type="text/css">
      #header {
        padding: 0;
        margin: 0;
      }
      .header-content {
        width: 100%;
        color: #262626;
        padding: 12px 24px;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        font-size: 12px;
        font-family: 'Raleway', system-ui, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .logo {
        width: 120px;
        height: 40px;
      }
    </style>
  </head>
  <body>
    <div class="header-content">
      <img src="handyhands_horizontal.svg" class="logo" alt="HandyHands" />
    </div>
  </body>
</html>